@font-face {
    font-family: 'ShapesFont';
    src: url('../fonts/b.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-stretch: 'extra-expanded';
} 

h1 {
    font-family: 'ShapesFont';
    font-size: 1500%;
    font-size-adjust: inherit;
    color: rgb(0, 92, 170);
}

