@font-face {
    font-family: 'ShapesFont';
    src: url('./fonts/b.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-stretch: 'extra-expanded';
  } 
  
  h1 {
    font-family: 'ShapesFont';
    font-size: 600%;
    font-size-adjust: inherit;
    color: rgb(255, 255, 255);
  }

  h1.bottom {
    font-family: 'ShapesFont';
    font-size: 400%;
    font-size-adjust: inherit;
    color: rgb(255, 255, 255);
    margin-top: 30%;
  }

  .background{
    margin-top: 5%;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }