@font-face {
    font-family: 'ShapesFont';
    src: url('./fonts/b.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-stretch: 'extra-expanded';
  } 
  
  h1 {
    font-family: 'ShapesFont';
    font-size: 600%;
    font-size-adjust: inherit;
    color: rgb(231, 131, 0);
  }
  
  html{
    height: 100%;
  }
  
  body {
    display: -ms-flexbox;
    height: 100%;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  div.background{
    margin-top: 5%;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  div.centre {
    margin-top: 19%;
  }

  div.centerzone{
      margin-top: 2%;
      align-self: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 40%;
  }

.btn-length{
    width: 30%;
}